* { box-sizing: border-box; }
body, html, main {
	height: 100%;
	display: grid;
}

html {
	font-family: 'Roboto', helvetica, san-serif;
	color: #333;
	height: 100%;
}

main { margin: 0; }
  
h1, h2 {
	border: 0;
	margin: 0
}

h1 {
	margin: auto;
	font-size: 5em;
	font-weight: 100
}

h2 {
	font-weight: 300
}

a { 
	text-decoration: none;
	color: #333
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

li {
	text-align: center
}

li > a{
	opacity: .35;
	transition: opacity ease-in-out .35s
}

li > a:hover{
	opacity: 1;	
}

/* .secoes li:nth-child(1) {
}
  
.secoes li:nth-child(2) {
}
  
.secoes li:nth-child(3) {
} */