html{
color:white;
}

ul>li{
display:inline-block;
padding:5px;
float: left; 
}  
 
.voltarHome{
display: inline-block;
float: left; 
margin-top: 65px;
}

#titulo {
	color: #ffffff;
	position: absolute;
	right: 275px;
	top: 68px;
}

div#BTN_03{
background-image: url("../../_elementos/BTN_03.png");
position: absolute;
top: 18px;
right: 160px;
}

div#BTN_02{
background-image: url("../../_elementos/BTN_02.png");
position: absolute;
top: 16px;
right: 68px;
}

div#BTN_01{
background-image: url("../../_elementos/BTN_01.png");
position: absolute;
top: 16px;
right: 0px;
}

div#BTN_voltar{
background-image: url("../../_elementos/BTN_voltar-01.png");
}

#BTN_voltar{
font-size: 20px;
position: absolute;
top: 60px;
}


.logas{ 
display: none;
}

.sceneTgl{
display: none;
}

#togglerIE{
display:inline-block;
float: right;
font-size: 20px;
margin:70px 20px;
}

#togglerIE>p{
font-weight: bold;
color: white;
}

#togglerIE>p>a{
font-weight: normal;
color: white;
}


.insideNome>.title{
left:95px;
}

#searchBox{
padding: 20px;
margin: 13px 0 0 41px;
}

#searchBox>label{
color: white;
margin-bottom: 15px;
}

#searchBox>input{
padding: 20px;
padding-top: 15px;
}

.search{
height: 15px;
max-width: 90%
}

#indexHeader{
float: left;
}

.list>li{
width: 356px;
}

#logasIE{
float: right;
margin-top: 9px;
display: inline-block;
}

#mainImg{
max-width: 63%;
margin-right: 1.5%;
display: inline-block;
float: left;
}

#mainArquivos{
width: 30%;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#imgArquivos{
height: 100%;
}

.arquivosExt{
display:inline-block;
float: left;
}

.arquivosExt>img{
display:inline-block;
float: left;
padding: 10px 0 0 0; 
}

.arquivosExt>h3{
display:inline-block;
float: left;
padding: 15px 0 0 0; 
max-width: 15px
}

/*root*/
.title>h2{
font-size: 36px;
font-style: bold;
padding-top: 25px;
}

#rootContentContainer{
margin: 0 auto;
}

.rootDescritivo{
margin: 0 auto;
}

.rootSecoes{
display: inline-block;
float: left;
margin-left: 50px;
}

hr{
clear: both;
}

.rootInstructions{
clear: both;
}

.rootInstructions>div{
display: inline-block;
float: left;
margin-top: 23px;
}

.rootInstructions>img{
display: inline-block;
float: left;
}

.rootText{
	clear: both;
}

#logasIE{
	float: left;
}

#searchBox{
	width: 50%;
	position: fixed;
	top: 0px;
}

.logas{
	display: none;
}

